MobiusServices/NativeSessionClient/Service References/MobiusSessionService/Mobius.Services.Types.Internal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Mobius.Services.Types.Internal" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Mobius.Services.Types.Internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Mobius.Services.Types.Internal/Imports">
      <xsd:import namespace="Mobius.Services.Types.Internal" />
      <xsd:import namespace="http://server/MobiusServices/v1.0" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMobiusInternalSessionService_RegisterSessionalServiceIpcEndpointAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSessionalServiceIpcEndpointAddress" />
  </wsdl:message>
  <wsdl:message name="IMobiusInternalSessionService_RegisterSessionalServiceIpcEndpointAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSessionalServiceIpcEndpointAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IMobiusInternalSessionService_ValidateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSession" />
  </wsdl:message>
  <wsdl:message name="IMobiusInternalSessionService_ValidateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="IMobiusInternalSessionService">
    <wsdl:operation name="RegisterSessionalServiceIpcEndpointAddress">
      <wsdl:input wsaw:Action="Mobius.Services.Types.Internal/IMobiusInternalSessionService/RegisterSessionalServiceIpcEndpointAddress" message="tns:IMobiusInternalSessionService_RegisterSessionalServiceIpcEndpointAddress_InputMessage" />
      <wsdl:output wsaw:Action="Mobius.Services.Types.Internal/IMobiusInternalSessionService/RegisterSessionalServiceIpcEndpointAddressResponse" message="tns:IMobiusInternalSessionService_RegisterSessionalServiceIpcEndpointAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSession">
      <wsdl:input wsaw:Action="Mobius.Services.Types.Internal/IMobiusInternalSessionService/ValidateSession" message="tns:IMobiusInternalSessionService_ValidateSession_InputMessage" />
      <wsdl:output wsaw:Action="Mobius.Services.Types.Internal/IMobiusInternalSessionService/ValidateSessionResponse" message="tns:IMobiusInternalSessionService_ValidateSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>